/ABeginning/target/
/ProjectGutenberg/target/
/CommentingCode/target/
/AllTheMaths/target/
/ExercisesVariables/target/
/ExercisesFoundations/target/
/AssignmentRandom5/target/
/ExercisesFlowControlWhile/target/
/ExercisesFlowControlFors/target/
/ExercisesBasicsMethods/target/
/ExercisesBasicsArrays/target/
/LabExercisesMilestone1/target/
/LabExercises/target/
/AssignmentMilestone1/target/
/RefactoringMilestone2/target/
/Milestone2Calculator/target/